 {{!-- Partials are normal Handlebars templates that may be called directly by other templates.
 --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partials</title>
</head>
<body>
    <h1>header</h1>
    {{username.username}}
    {{username.posts}}
</body>
</html>